.card-footer
  opacity: 0.9

  button
    background: none
    border: none
    outline: none
    font-size: 100%
    color: #fff
    border-radius: unset
    height: 100%
    width: 100%

    &.active
      background-color: rgba(0, 0, 0, 0.3)

    &:hover
      background: rgba(0, 0, 0, 0.3)
