
.btn-default
  background-color: $light-grey

.btn-small
  padding: 2em

.btn-medium
  padding: 4em

.btn-large
  font-weight: bold
  font-size: 1em
  padding: 0 4em
  height: 6em
  line-height: 6em
